<form novalidate [formGroup]="reactiveForm">
	<!-- formGroup -->
	<div class="form-row">
		<div class="col-md-6 mb-2">
			<label for="title">Titolo </label>
			<!-- formControlName -->
			<input type="text"
			formControlName="title"
			class="form-control"
			id="title"
			name="title"
			placeholder="Titolo ricetta">
		</div>
	</div>
	<fieldset formArrayName="ingredients">
		<!-- formArrayName -->
		<legend>Ingredienti</legend>
		<div class="form-row" 
     *ngFor="let ingredient of ingredients.controls; let i=index">
			<div class="col-md-6 mb-2">
				<!-- formControlName -->
				<input type="text"
				class="form-control"
				id="ingredient-{{ i }}"
				name="ingredient-{{ i }}"
				placeholder="Nuovo ingrediente"
				[formControlName]="i">
			</div>
		</div>
	</fieldset>
	<div class="form-row">
		<button
			class="btn btn-primary"
			(click)="addIngredient()">
			Aggiungi nuovo ingrediente
		</button>
	</div>
</form>
<pre><code>{{ reactiveForm.value | json }}</code></pre>